<html>
    <head>
        <%- include('../common/header')%>
    </head>
    <body>
        <form action="/barmap/submit" method="POST">
            <h2>單筆資料</h2>
            <ul>
                <li>
                    <label>酒吧名稱:</label>
                    <input type="text" name="name"><br>
                </li>
                <li>
                    <label>地址:</label>
                    <input type="text" name="address"><br>    
                </li>
                <li>
                    <label>電話:</label>
                    <input type="text" name="phone"><br>    
                </li>
                <li>
                    <label>緯度:</label>
                    <input type="text" name="lat" value="0"><br>
                    <small>Format: </small><br>
                </li>
                <li>
                    <label>經度</label>
                    <input type="text" name="lng" value="0"><br>
                    <small>Format: </small><br>    
                </li>
            </ul>
            <input type="submit">
        </form>
        <% if (typeof(barInfo) !== "undefined" && barInfo) { %> 
            <h3>上傳資訊</h3>
            <% if (typeof(barInfo.error) !== "undefined" && barInfo.error) { %>
                <p><%= barInfo.error%></p>
            <%} else {%>
                <p>Name: <%= barInfo.name%></p>
                <p>Address: <%= barInfo.address%></p>
                <p>Phone: <%= barInfo.phone%></p>
                <p>Lat: <%= barInfo.lat%></p>
                <p>Lng: <%= barInfo.lng%></p>
            <% } %>
        <% } %>
        <form action="/barmap/submitCSV" method="POST" enctype="multipart/form-data">
            <h2>多筆資料</h2>
            <label>Upload CSV File: </label>
            <input type="file" name="barCSV"><br>
            <a href="/barmap/bar-csv-sample-file">Download Sample</a><br>
            <input type="submit">
        </form>
        <% if (typeof(barInfo) !== "undefined" && barInfo) { %> 
            <h3>上傳資訊</h3>
            <% if (typeof(barInfo.error) !== "undefined" && barInfo.error) { %>
                <p><%= barInfo.error%></p>
            <%} else {%>
                <p><%= barInfo.success%></p>
            <% } %>

            <% if (typeof(barInfo.existed) !== "undefined" && barInfo.existed) { %>
                <% for (let i = 0; i < barInfo.existed.length; i++) { %>
                    <p>此酒吧已存在資料庫: </p>
                    <%= barInfo.existed[i]%>
                <% } %>
            <% } %>
        <% } %>

    </body>

</html>