<html>
    <head>
        <%- include('../common/header')%>
    </head>
    <body>
        
        <form action="submit-singular" method="POST" id="submit-singular">
            <h2>單筆資料</h2>
            <ul>
                <li>
                    <div class="form-group">
                        <label for="inputBarName">酒吧名稱:</label>
                        <input type="text" name="name">
                    </div>        
                </li>
                <li>
                    <div class="form-group">
                        <label>酒吧地址:</label>
                        <input type="text" name="address"><br>
                    </div>        
                </li>
                <li>
                    <div class="form-group">
                        <label>電話:</label>
                        <input type="text" name="phone"><br>
                    </div>        
                </li>
                <!-- Must be done columns -->
                <%if (typeof(lat) !== "undefined" && lat) {%>
                    <li>
                        <div class="form-group">
                            <label>緯度:</label>
                            <input type="text" name="lat" value="0" class="form-control is-invalid col-md-3 mb-3">
                        </div>   
                    </li>
                <% }else{ %> 
                    <li>
                        <div class="form-group">
                            <label>緯度:</label>
                            <input type="text" name="lat" value="0" required><br>
                            <small>Format: 25.033493</small><br>
                        </div>   
                    </li>  
                <% }%> 
                <%if (typeof(lng) !== "undefined" && lng) {%>
                    <li>
                        <div class="form-group">
                            <label>經度</label>
                            <input type="text" name="lng" value="0" class="form-control is-invalid col-md-3 mb-3">
                        </div>     
                    </li>
                <% }else{ %>
                    <li>
                        <div class="form-group">
                            <label>經度</label>
                            <input type="text" name="lng" value="0" required><br>
                            <small>Format: 121.564101</small><br>    
                        </div>     
                    </li>
                <% }%>
            </ul>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% if (typeof(barInfo) !== "undefined" && barInfo) { %> 
            <h3>上傳資訊</h3>
            <% if (typeof(barInfo.error) !== "undefined" && barInfo.error) { %>
                <p><%= barInfo.error%></p>
            <%} else {%>
                <p>Name: <%= barInfo.name%></p>
                <p>Address: <%= barInfo.address%></p>
                <p>Phone: <%= barInfo.phone%></p>
                <p>Lat: <%= barInfo.lat%></p>
                <p>Lng: <%= barInfo.lng%></p>
            <% } %>
        <% } %>













        <!-- <form action="/bar/submitCSV" method="POST" enctype="multipart/form-data">
            <h2>多筆資料</h2>
            <label>Upload CSV File: </label>
            <input type="file" name="barCSV"><br>
            <a href="/bar/bar-csv-sample-file">Download Sample</a><br>
            <input type="submit">
        </form>
        <% if (typeof(barInfo) !== "undefined" && barInfo) { %> 
            <h3>上傳資訊</h3>
            <% if (typeof(barInfo.error) !== "undefined" && barInfo.error) { %>
                <p><%= barInfo.error%></p>
            <%} else {%>
                <p><%= barInfo.success%></p>
            <% } %>

            <% if (typeof(barInfo.existed) !== "undefined" && barInfo.existed) { %>
                <% for (let i = 0; i < barInfo.existed.length; i++) { %>
                    <p>此酒吧已存在資料庫: </p>
                    <%= barInfo.existed[i]%>
                <% } %>
            <% } %>
        <% } %> -->
        <a href="/account/logout">
            <button type="button" class="btn btn-danger">Logout</button>
        </a>
    </body>
</html>